include ../../node_modules/bemto.pug/bemto
include helpers/variables
include helpers/mixins


doctype html
html
    head
        title Новость
        include inc/head
    body.p-about_news
        include partials/header
        .l-container
            +b('').news-wrapper
                +b('').button-wrapper._top
                        +b('a')(href='#').button._transparent Назад к новостям
                +b('').title-inner
                    +b('span').title-1._center «ФОРторг» увеличил производство высококачественной говядины в первом полугодии 2019 года на 34% (Н1)
                +b('').substrate
                    +e('img').image(src="https://via.placeholder.com/1350x600", alt="")
                +b('section').section._narrow
                    +e('span').title Минск, 3 июля – «Форторг» продолжает наращивать производство высококачественной говядины и увеличил объем производства в первом полугодии 2019 года до более 69 тысяч тонн в живом весе, что на 34% превышает показатель за аналогичный период 2018 года. Рост производства обусловлен увеличением поголовья и запуском новых животноводческих ферм.
                    p «Форторг» реализует долгосрочную стратегию по увеличению производства отечественного мяса высокого качества. Агрохолдинг построил с нуля крупнейшее в вропе вертикально интегрированное производство «от поля до прилавка» с совокупным поголовьем КРС превышающим 670 тысяч голов.  Компания системно инвестирует в передовые технологии производства, логистику и контроль качества на всех этапах производственной цепочки. Выращивание крупного рогатого скота только на собственных кормах без использования генномодифицированных добавок и ускорителей роста обеспечивает высокую конкурентноспособность конечного продукта на рынке, а уникальные технологии переработки гарантируют потребителю широкий ассортимент вкусного и полезного мяса.
                    +b('').inner
                        +b('span').title-2 Высокотехнологичный мясоперерабатывающий комплекс (Н2)
                    p соответствует лучшим мировым стандартам по уровню автоматизации, экологической и промышленной безопасности. Завод сертифицирован в соответствии с международными стандартами качества пищевой безопасности – НАССР, ISO, имеет сертификат Халяль. Предприятие аттестовано для поставок на зарубежные рынки, а также регулярно проходит аудиты со стороны контролирующих органов как российских, так и зарубежных торговых сетей, действующих и потенциальных потребителей мясопродукции.
                    +b('span').title-3._inner Приоритеты компании (Н3)
                    p «Наращивание производства при неизменно высоком качестве продукции и уровне сервиса» – приоритет для нас.
                    +b('').inner._smaller
                        +b('span').title-4._inner Комментарий пресс-службы (Н4)
                    p «Компания контролирует каждый этап производственной цепочки: начиная от правильного выращивания животных, заканчивая хранением и поставкой продукции в торговые сети. Мы продолжим повышать эффективность действующего производства, планомерно увеличивать мощности, запускать новые производственные линии , чтобы расширить ассортимент продукции в соответствии со вкусом и потребностями покупателей», - прокомментировали в пресс-службе компании «Форторг».
                    +b('').button-wrapper
                        +b('a')(href='#').button._transparent Наверх
                    +b('').other-news
                        +b('span').title-2._other Другие новости
                        +e('').wrapper
                            +b('').news-card._other
                                +e('img').image(src="https://via.placeholder.com/423x264", alt="")
                                +b('').text
                                    +e('span').title.b-title-4 «Форторг» создал более 130 новых рабочих мест на предприятии
                                    +e('p').description «ФорТорг» реализует долгосрочную стратегию по увеличению производства отечественного мяса высокого качества. Агрохолдинг построил с нуля крупнейшее в Европе вертикально интегрированное производство «от...
                                    +e('a').more.button(href='#') Читать полностью
                            +b('').news-card._other
                                +e('img').image(src="https://via.placeholder.com/423x264", alt="")
                                +b('').text
                                    +e('span').title.b-title-4 «Форторг» создал более 130 новых рабочих мест на предприятии
                                    +e('p').description «ФорТорг» реализует долгосрочную стратегию по увеличению производства отечественного мяса высокого качества. Агрохолдинг построил с нуля крупнейшее в Европе вертикально интегрированное производство «от...
                                    +e('a').more.button(href='#') Читать полностью
        include partials/footer
        include inc/vendor-scripts
        script(src="js/client.min.js")
