include ../../node_modules/bemto.pug/bemto
include helpers/variables
include helpers/mixins


doctype html
html
	head
		title ООО «ФорТорг»
		include inc/head
	body(class="p-main")
		include partials/header
		.l-container
			div.about_production
				span.b-title-1 
					span.caveat Наше 
					| производство
				p ООО «ФорТорг» — предприятие мясоперерабатывающей отрасли Республики Беларусь.Производство находится в Минском районе. Наше предприятие аттестовано на Российскую Федерацию.
				p Мы работаем с исключительно качественным сырьем которое приобретаем нааттестованных мясокомбинатах и фермерских хозяйствах Республики Беларусь. Предприятие находится в экономически выгодной зоне, что ведет к значительному снижению себестоимости товара.
				a.button.green-button Узнать больше
			div.about_production.about_production_pict
				img(src="https://via.placeholder.com/902x722", alt="workshop")
		include partials/footer
		include inc/vendor-scripts
		script(src="js/client.min.js")
