include ../../node_modules/bemto.pug/bemto
include helpers/variables
include helpers/mixins


doctype html
html
	head
		title ООО «ФорТорг»
		include inc/head
	body(class="p-main")
		include partials/header-main
		include partials/footer
		include inc/vendor-scripts
		script(src="js/client.min.js")
