include ../../node_modules/bemto.pug/bemto
include helpers/variables
include helpers/mixins


doctype html
html
    head
        title Новости
        include inc/head
    body
        include partials/header
        .l-container
            +b('').news-wrapper
                +b('').heading
                    +e('').title
                        span.b-title-1 
                            span.italic Новости 
                            | компании
                    +e('p').text Здесь будет пояснительный текст про то, что в этом разделе появляются новости компании, информация об акциях и так далее. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. 
                section.section-news
                    +b('').news-card-wrapper
                        +b('').news-card
                            +e('img').image(src="https://via.placeholder.com/423x264", alt="")
                            +b('').text
                                +e('span').title.b-title-4 «ФорТорг» увеличил производство высококачественной говядины в первом полугодии 2019 года на 34%
                                +e('p').description «ФорТорг» реализует долгосрочную стратегию по увеличению производства отечественного мяса высокого качества. Агрохолдинг построил с нуля крупнейшее в Европе вертикально интегрированное производство «от...
                                +e('a').more.button(href='#') Читать полностью               
                        +b('').news-card
                            +e('img').image(src="https://via.placeholder.com/423x264", alt="")
                            +b('').text
                                +e('span').title.b-title-4 «ФорТорг» увеличил производство высококачественной говядины в первом полугодии 2019 года на 34%
                                +e('p').description «ФорТорг» реализует долгосрочную стратегию по увеличению производства отечественного мяса высокого качества. Агрохолдинг построил с нуля крупнейшее в Европе вертикально интегрированное производство «от...
                                +e('a').more.button(href='#') Читать полностью               
                        +b('').news-card
                            +e('img').image(src="https://via.placeholder.com/423x264", alt="")
                            +b('').text
                                +e('span').title.b-title-4 «ФорТорг» увеличил производство высококачественной говядины в первом полугодии 2019 года на 34%
                                +e('p').description «ФорТорг» реализует долгосрочную стратегию по увеличению производства отечественного мяса высокого качества. Агрохолдинг построил с нуля крупнейшее в Европе вертикально интегрированное производство «от...
                                +e('a').more.button(href='#') Читать полностью               
                        +b('').news-card
                            +e('img').image(src="https://via.placeholder.com/423x264", alt="")
                            +b('').text
                                +e('span').title.b-title-4 «ФорТорг» увеличил производство высококачественной говядины в первом полугодии 2019 года на 34%
                                +e('p').description «ФорТорг» реализует долгосрочную стратегию по увеличению производства отечественного мяса высокого качества. Агрохолдинг построил с нуля крупнейшее в Европе вертикально интегрированное производство «от...
                                +e('a').more.button(href='#') Читать полностью               
                        +b('').news-card
                            +e('img').image(src="https://via.placeholder.com/423x264", alt="")
                            +b('').text
                                +e('span').title.b-title-4 «ФорТорг» увеличил производство высококачественной говядины в первом полугодии 2019 года на 34%
                                +e('p').description «ФорТорг» реализует долгосрочную стратегию по увеличению производства отечественного мяса высокого качества. Агрохолдинг построил с нуля крупнейшее в Европе вертикально интегрированное производство «от...
                                +e('a').more.button(href='#') Читать полностью               
                        +b('').news-card
                            +e('img').image(src="https://via.placeholder.com/423x264", alt="")
                            +b('').text
                                +e('span').title.b-title-4 «ФорТорг» увеличил производство высококачественной говядины в первом полугодии 2019 года на 34%
                                +e('p').description «ФорТорг» реализует долгосрочную стратегию по увеличению производства отечественного мяса высокого качества. Агрохолдинг построил с нуля крупнейшее в Европе вертикально интегрированное производство «от...
                                +e('a').more.button(href='#') Читать полностью               
                        +b('').news-card._bottom
                            +e('img').image(src="https://via.placeholder.com/423x264", alt="")
                            +b('').text
                                +e('span').title.b-title-4 «ФорТорг» увеличил производство высококачественной говядины в первом полугодии 2019 года на 34%
                                +e('p').description «ФорТорг» реализует долгосрочную стратегию по увеличению производства отечественного мяса высокого качества. Агрохолдинг построил с нуля крупнейшее в Европе вертикально интегрированное производство «от...
                                +e('a').more.button(href='#') Читать полностью               
                        +b('').news-card._bottom
                            +e('img').image(src="https://via.placeholder.com/423x264", alt="")
                            +b('').text
                                +e('span').title.b-title-4 «ФорТорг» увеличил производство высококачественной говядины в первом полугодии 2019 года на 34%
                                +e('p').description «ФорТорг» реализует долгосрочную стратегию по увеличению производства отечественного мяса высокого качества. Агрохолдинг построил с нуля крупнейшее в Европе вертикально интегрированное производство «от...
                                +e('a').more.button(href='#') Читать полностью    
                    +b('').pagination
                        +e('a').page._active.button._transparent 1          
                        +e('a').page.button._transparent 2          
                        +e('a').page.button._transparent 3          
                        +e('a').page.button._transparent 4          
                        +e('a').page._hidden.button._transparent ...         
                        +e('a').page.button._transparent 20          
        include partials/footer
        include inc/vendor-scripts
        script(src="js/client.min.js")
