.l-footer
	width 100%
	margin-top auto
	margin-bottom 0
.footer-wrapper
	border-top 1px solid $beige
	margin-top 126px
	padding-top 74px
	@media $max_sm
		margin-top 60px
		padding-top 57px
footer 
	padding-top 74px
	padding-bottom 120px
	@media $max_sm
		padding-bottom 80px
		padding-top 60px
	@media $max_xs
		padding-top 60px
		padding-bottom 60px
.p-main, 
.p-news,
.p-contacts
	@media $max_sm
		footer
			padding-top 75px
.b-footer
	display table 
	table-layout fixed
	width 100%
	@media $max_sm
		display block
	@media $max_xs
		padding 0
	&__column
		display table-cell
		vertical-align top
		&_logo
			width 89px
			@media $max_sm
				width 63px
				img 
					width 100%
			@media $max_xs
				width 51px
		&_nav
			width 314px
			@media $max_sm
				display block
				width 100%
				border-top 1px solid $beige
				border-bottom 1px solid $beige
				padding 55px 0
				margin-bottom 57px
			@media $max_xs
				padding 30px 0
				margin-bottom 27px
		&_contacts
			width 259px
			@media $max_sm
				display block
				width 100%
				margin 0 -15px
				font-size 0
		&_company-description
			@media $max_sm
				padding-bottom 65px
			@media $max_xs
				padding-top 27px
				padding-bottom 27px
		@media $max_xs
			display block
	&__contact-row
		margin-bottom 24px
		&:last-child
			margin-bottom 0			
.b-footer-nav
	@media $max_sm
		margin 0 -15px
		font-size 0
	&__item
		margin-bottom 20px
		&:last-child
			margin-bottom 0		
		@media $max_sm
			display inline-block 
			width 50%
			margin-bottom 20px 
			padding 0 15px
		@media $max_xs
			display block
	&__title
		text-transform uppercase
		font-family 'Oswald-Medium'
		font-size 15px
		font-weight 500
		text-decoration none
		@media $working_hover
			&:hover
				color $green
				text-decoration none
		&_act
			color $green
			text-decoration none			
.b-footer-text
	padding 0 59px
	&__item
		font-size 14px
		color $light_beige
		line-height normal
		margin-bottom 20px
		&:last-child
			margin-bottom 0
		p
			font-size 14px
			color $light_beige
			line-height normal	
	@media $max_sm
		padding 0 28px
	@media $max_xs
		padding 0
.b-footer-contact
	margin-bottom 17px
	&__title
		display block
		font-size 14px
		color $light_beige
		margin-bottom 4px
	&__value
		text-transform uppercase
		font-size 17px
		font-weight bold
		display inline-block
		&_email
			color $green
			margin-bottom 17px
.b-footer-mobile
	@media $max_sm
		display inline-block
		width 50%
		padding 0 15px
		vertical-align top
		.b-contact__value
			display block
	@media $max_xs
			display block
			width 100%
.b-title-inner
	width 88.5%
	max-height 252px
	margin 48px auto 0
	padding-bottom 4px
	background $pearl
	position relative	
	@media $max_sm
		margin 37px 0 0
		width 100%
		padding 37px 28px 33px
	@media $max_xs
		margin-bottom 110px
		max-height inherit
		padding 37px 15px 33px
.button,
.b-button
	background $green
	color $white
	padding 12px 20px
	border-radius 4px
	font-size 17px
	font-weight bold
	border 1px solid $green
	display inline-block
	text-decoration none
	@media $max_sm
		font-size 15px
		z-index 1
	&:hover
		background $white
		color $black
		text-decoration none
		border 1px solid $green
		text-decoration none
	&_small
		padding 9px 17px
		font-size 14px
	&_big
		padding 17px 30px
		@media $max_sm
			padding 13px 25px
	&-wrapper
		padding-top 33px
		@media $max_sm
			padding-top 17px
	&_transparent
		background $white
		color $black
		padding 9px 17px
		font-size 14px
		font-weight bold
		&:hover
			background $green
			color $white
		@media $max_sm
			// padding 15px 21px
			padding 9px 13px
	&-wrapper_top
		text-align center
		padding 0
		@media $max_sm
			text-align left
	&_roster
		padding 17px 33px
		@media $max_sm
			padding 14px 26px
.italic
	font-family Caveatregular
	font-size 70px
	letter-spacing -2.8px
	line-height 74px
	color $green
	display block
	text-transform none
	@media $max_sm
		font-size 50px
	@media $max_xs
		font-size 40px
.b-news-wrapper
	padding-top 126px
	@media $max_sm
		padding-top 0
.b-heading
	display flex
	align-items center
	position relative
	margin-bottom 70px
	justify-content space-between
	@media $max_sm
		margin-bottom 51px
		flex-wrap wrap
		&:before
			top 0
			@media $max_sm
				background-size 70%
				background-position right
	&:before
		position absolute
		top 8px
		right 0
		content ''
		height 130px
		width 510px
		background url(../img/knifes.png) no-repeat
		opacity 0.4
		@media $max_xs
			width 100%	
			background-size 100%
	&__text
		max-width 979px
	&__title
		z-index 1
		@media $max_sm
			margin-bottom 57px
		@media $max_xs
			margin-bottom 41px
	&_production
		margin 0
		display block
		&:before
			background: none
	&__title_production
		margin-bottom 18.5%
	.b-title-1
		margin-bottom 0
		@media $max_sm
			line-height .7
.b-news
	colsWrap(3,40,20)
	margin-bottom 40px
	&__col
		@media $max_sm 
			width 100%
			padding 10px 0
			margin-bottom 18px
		&:last-child
			.b-news-card
				&:after
					left -1000px
					pointer-events none
					border-color #f9f7f3
		@media $max_xs
			width 339px
			padding 20px 15px
	&__cols-wrap
		width 100%
		margin -10px 0px
	&__title
		margin 30px 31px 0 18px
	&-card
		display inline-block
		position relative
		vertical-align top
		&:after
			content ''
			position absolute
			right 0
			bottom 20px 
			left 0
			border-bottom 1px solid $brown
			@media $max_sm
				bottom 0
		&_no-border
			&:after
				border-bottom none
		.b-title-4
			text-transform uppercase
			line-height 1.5
			margin-bottom 11px
			max-height 87px
			overflow hidden
			@media $max_sm
				line-height 1.4
				max-height 48px
			@media $max_xs
				margin-bottom 28px
	&-card__image
		width 100%
	&-card_other
		width 50%
		padding 0 20px
		&:after
			border none		
		@media $max_sm
			width 100%
			padding 15px 0
			&:after
				bottom 20px
				border-bottom 1px solid #c8ae97
			.b-text
				padding-left 0
				padding-right 0
				padding-top 18px
				.b-title-4
					margin-bottom 7px
	&-mobile-wrapper
		@media $max_sm
			margin 0 -30px 0 -15px
		@media $max_xs
			margin 0
.l-container-decoration
	position relative
	&:after
		position absolute
		top 119px
		content ''
		width 100%
		border-bottom 1px solid $beige
.b-section-wrapper
	padding-bottom 69px
.b-section
	background $white
	padding 53px 115px 12px 114px
	position relative
	width 100%
	margin 0 auto
	@media $max_sm
		padding 39px 30px 30px
	@media $max_xs
		padding 39px 15px 30px
	&__title
		display block
		font-family 'Oswald-Regular'
		font-size 20px
		font-weight normal
		font-style italic
		line-height 1.5
		text-transform uppercase
		padding-bottom 54px
		margin-bottom 51px
		border-bottom 1px solid $brown
		@media $max_sm
			font-size 18px
			padding-bottom 39px
			margin-bottom 37px
	&_narrow		
		width 88.5%
		margin-bottom -79px
		padding-bottom 29px
		@media $max_sm
			width 100%
			margin-bottom -60px
.b-inner
	padding-top 22px
	&_smaller
		padding-top 31px
.section-news
	margin-bottom 120px
	@media $max_sm
		margin-bottom 80px	
.p-main 
	.b-news-card .b-title-4	
		@media $max_sm
			max-height 76px
	.section-news
		margin-top 85px
		margin-bottom 80px	
		@media $max_sm 
			margin-bottom 78px		
			margin-top 43px	
		@media $max_xs
			margin-top  24px	
			.b-title-1			
				line-height .7
			.b-news
				&__cols-wrap
					margin 12px 0 0
					display flex
					flex-wrap nowrap
					overflow-x auto
					scrollbar-width none
					-ms-overflow-style none
				&__col
					width 368px
					padding 0 15px
				&-card
					min-width 338px
					&__image
						width 100%
						@media $max_sm
							height 211px
			.b-text
				padding-top 20px
				&__description
					margin-bottom 33px
		@media $max_xs
			position relative
			.b-news
				margin 0 -15px
				&__cols-wrap
					display block
					width 100%
					margin 0
				&__col
					display block
					width 100%
					padding 20px 0
				&-card
					min-width 100%
					&:after
						border-bottom none
				&-card__image
					width 100%
		.b-heading
			align-items flex-end
			@media $max_sm
				margin-bottom 50px
				&__title
					margin-bottom 0	
			@media $max_xs
				position static
				margin-bottom 20px
			&:before
				right 50%
				transform translateX(50%)
				@media $max_xs
					top 60px
			.b-button
				margin-bottom 8px
				@media $max_sm
					margin-bottom 0
				@media $max_xs
					position absolute
					bottom -45px 	
.b-text
	max-width 970px
	padding 27px 22px 42px
	@media $max_sm 
		padding-left 0
		padding-top 16px
	@media $max_xs
		padding-bottom 0
		padding-left 15px
		padding-right 15px
	&_center
		text-align center
	&__title
		text-transform uppercase
		overflow hidden
		max-height 90px
		line-height 1.5
		margin-bottom 11px
	&__description
		max-height 78px
		overflow hidden
		font-size 14px
		color $grey
		line-height normal
		padding-top 5px
		margin-bottom 23px
		@media $max_sm
			margin-bottom 18px
			padding-top 8px
		@media $max_xs
			display none
	&__more
		background $brown
		color $white
		font-size 15px
		border 1px solid $brown
		padding-left 27px
		padding-right 27px
		&:hover
			color $brown
			background $white
			border 1px solid $brown
		@media $max_sm
			padding 14px 27px
.b-pagination
	display flex
	width 100%
	justify-content center
	align-items center
	text-align center
	background $pearl
	&:after, &:before
		content ''
		border-top 1px solid $brown
		margin 0 30px 0 0
		flex 1 0 20px
	&:after
		margin 0 0 0 30px
	&__page
		display inline-block
		width 40px
		height 40px
		font-size 14px
		font-weight bold
		margin-right 8px
		padding 0 !important
		line-height 40px
		text-align center
		&:last-child
			padding-right 0
		&_active
			background $black
			color $white
			border 1px solid $black
			&:hover
				background $black
				border 1px solid $black
		&_hidden
			border solid 1px $brown
			opacity .7
.b-substrate
	margin -193px 0 -40px
	background #ede2d9
	&__image
		width 100%
	@media $max_sm
		margin-left -30px
		margin-right -30px
	@media $max_xs
		margin-left -15px
		margin-right -15px
.b-other-news
	margin-top 8.4%
	padding-top 69px
	border-top 1px solid $brown
	@media $max_sm
		margin-top 60px
	&__wrapper
		margin -10px -20px
		font-size 0
		@media $max_sm
			margin -10px 0		
.roster
	position relative
	@media $max_xs
		display flex
		flex-wrap wrap
		padding-top 24px
.p-contacts .roster
	margin-top 50px
	@media $max_sm 
		margin-top 100px
.b-contacts
	margin-bottom 37px
	@media $max_xs
		margin-bottom 0
.maps 
	height 710px
	@media $max_sm
		height 793px
	@media $max_xs
		width 100%
		height 362px
.b-contacts-wrapper
	position absolute
	top 0
	left 0
	bottom 0
	right 0
	padding-top 90px
	pointer-events none
	@media $max_sm
		padding-top 0
		top -50px
	@media $max_xs
		top 0
		position relative
		order -1
		margin-bottom 10px
.b-frame-wrapper
	@media $max_sm 
		margin 0 10px
	@media $max_xs
		margin 0 -5px
.b-frame
	width 545px
	background $white
	border 1px solid #f4f0e7
	outline 10px solid $white
	padding 50px 36px 63px
	pointer-events all
	@media $max_sm
		width 100%
		padding 38px 31px 40px
	@media $max_xs
		padding 31px 21px
	&:hover
		outline 10px solid $white
	&_right
		margin-left auto
	&_production
		width 295px
		text-align center
		padding-bottom 40px
		margin-bottom 20px
		@media $max_sm
			padding-bottom 20px
		z-index 2
		.b-frame
			&__image
				width 100%
				height auto
			&__title
				margin-top 0
				padding-top 66px
				margin-bottom 10px
				@media $max_sm 
					padding-top 17px
				@media $max_xs 
					padding-top 9px
				&:before
					top 37px
					@media $max_sm
						top 2px
	&__image
		margin 0 auto
	&__text
		display block
		font-size 14px
		color $grey
	&__title
		padding-top 56px
		position relative
		&:before
			position absolute
			top 28px
			left 0
			right 0
			margin 0 auto
			content ''
			width 99px
			border 1px solid $green
.b-col
	display table
	width 100%
	table-layout fixed
	padding-top 120px
	margin-bottom: 5.1%
	&__col-2 
		display table-cell
		vertical-align top
	&__col-2_left
		width 70%
		position relative
.animal
	width 100%
	margin-left -52px

.b-production-wrapper
	width 80%
	margin 0 auto
	margin-top -50px
	display flex 
	flex-wrap wrap
	justify-content space-between
	margin-bottom -100px
	&_main
		// width auto
		width 100%
		justify-content left
		margin 0 -15px
		font-size 0
		overflow hidden
		padding 10px 0
		@media $max_sm
			margin 0
			flex-wrap: nowrap
			min-height: 330px
			overflow-x: auto
			scrollbar-width none
			-ms-overflow-style none
			&:-webkit-scrollbar
				display none
		.b-frame
			width calc(25% - 50px)
			margin 0 25px
			@media $max_sm
				min-width: 241px;
				margin 0 18px
				padding-bottom 0
			@media $max_xxs
				width 215px
.b-animal
	width 100%
	height 100%
	position relative
	&_cow
		width 824px
		height 451px
		background url(../img/cow-unactive-parts.png) no-repeat
	&__part
		position absolute
		&_cow-1
			width 113px 
			height 165px
			top 114px
			left 376px
			background url(../img/cow-active-part-1.png) no-repeat
			border-top-right-radius 51px
			border-top-left-radius 49px
			border-bottom-right-radius 66px
			border-bottom-left-radius 8px
		&_cow-2
			width 84px 
			height 106px
			top 63px
			left 452px
			background url(../img/cow-active-part-2.png) no-repeat
			border-top-right-radius 51px
			border-top-left-radius 49px
			border-bottom-right-radius 64px
			border-bottom-left-radius 86px
		&_cow-3
			width 116px 
			height 27px
			top 132px
			right 177px
			z-index 2
			background url(../img/cow-active-part-3.png) no-repeat
			border-top-right-radius 1px
			border-top-left-radius 9px
			border-bottom-right-radius 29px
			border-bottom-left-radius 6px			
			&:hover
				background url(../img/cow-part-3.png) no-repeat
		&_cow-4
			width 122px 
			height 114px
			top 70px
			right 182px
			background url(../img/cow-active-part-4.png) no-repeat
			border-top-right-radius 0px
			border-top-left-radius 37px
			border-bottom-right-radius 32px
			border-bottom-left-radius 17px
		&_cow-5
			width 166px 
			height 111px
			top 64px
			right 40px
			background url(../img/cow-active-part-5.png) no-repeat
			border-top-right-radius 37px
			border-top-left-radius 50px
			border-bottom-right-radius 126px
			border-bottom-left-radius 10px
.b-plus
	text-align center
	display table-cell
	vertical-align middle
	position absolute
	width 48px
	height 48px
	border-radius 40px
	background rgba(0, 154, 36, .2)
	padding-top 8px
	cursor pointer
	&__bright
		width 32px
		height 32px
		border-radius 30px
		background $green
		margin 0 auto
		line-height 32px
		color $beige
		font-weight bold
		font-size 25px
	&_cow-1
		top 51px
		left 40px
	&_cow-2
		top -8px
		left 14px
	&_cow-3
		top -11px
		left 36px
	&_cow-4
		top -8px
		left 41px
	&_cow-5
		top -12px
		left 68px
.b-text-wrapper
	padding-top 46px
	margin-bottom -79px
.p-text .b-section
	max-width 1190px
.p-contacts .b-contact_column .b-contact__text:hover
	text-decoration none
.clear
	font-size 14px
	font-weight normal
	color rgba(252, 240, 226, 0.5)
	display block

.b-our-products
	padding-top 120px
	margin-bottom 120px
	@media $max_sm
		margin-bottom 40px
	@media $max_xs
		padding-top 130px
		margin-bottom 45px
	&__wrap
		position relative
		padding-bottom 100px
		background url(../img/prod-cow.png) no-repeat
		background-position center bottom
		position relative
		@media $max_sm
			display flex
			flex-wrap wrap
			background-position center center
			background-size 90%
			>.l-container
				order -1
		@media $max_xs
			background-size 65%
			padding-bottom 57px
	&__bg
		position absolute
		top 0
		right 0
		left calc(50% + 50px)
		bottom 0
		background-size cover
		@media $max_sm
			position relative
			width 100% 
			height 512px
			left 0
			margin-top 60px
		@media $max_xs
			margin-top 60px
			height 256px
.b-description
	padding-top 84px
	width 50%
	padding-right 50px
	@media $max_sm
		padding-top 98px
		width 100%
	@media $max_xs
		padding-top 0
		padding-right 0
	.b-title-1
		margin-bottom 58px
		@media $max_sm
			margin-bottom 54px
			line-height .7
		@media $max_xs
			margin-bottom 31px
	&__text
		display block
		p
			margin-bottom 26px
			&:last-child
				margin-bottom 72px
	&__text_last
		@media $max_sm
			margin-bottom 57px
		@media $max_xs
			margin-bottom 18px
.b-fresh-meat
	overflow hidden
	padding 100px 0 110px
	margin-top -100px
	margin-bottom 45px
	@media $max_sm
		padding-top 40px
		padding-bottom 39px
		margin-bottom 0
	@media $max_xs
		padding-bottom 24px
	&__table-wrap
		display table
		table-layout fixed
		width 100%
		border-collapse collapse
		@media $max_sm
			display block
	&__left,&__right
		display table-cell
		vertical-align middle
		border solid 5px #ebe6db
		@media $max_sm
			display block
	&__left
		position relative
		width 329px
		@media $max_sm
			width 100%
			height 245px
			text-align center
			border-bottom none
		@media $max_xs
			height 183px
	&__right
		padding 52px 59px
		@media $max_sm
			padding 41px 35px 30px
		@media $max_xs
			padding 53px 19px 0
	&__img
		position absolute
		top -104px
		left -84px
		z-index -1
		@media $max_sm
			width 312px
			position relative
			left 0
			top -40px
			margin 0 auto
		@media $max_xs
			width 233px
	&__text 
	.b-title-2
		color $brown
		margin-bottom 25px
		@media $max_sm
			margin-top 28px
		@media $max_xs
			margin-top 0px
	p
		color $brown
		margin-bottom 0
.b-our-production
	&_wrapper
		@media $max_sm
			margin 8px -30px 0 -8px
		@media $max_xs
			margin 0 -15px 0 -8px
	.b-heading
		align-items flex-end
		@media $max_sm
			align-items center
			margin-bottom 0
		&:before
			right 50%
			transform translateX(50%)
			content none
		.b-button
			margin-bottom 8px
			@media $max_sm
				margin-bottom 0
			@media $max_xs
				position absolute
				bottom -417px
				z-index 5
	&__wrap
		background url(../img/pic-partnership-main.jpg)
		background-size cover
		padding 225px 0 180px
		background-position right -200px center
		@media $min_1500
			background-position right center
		@media $max_sm
			position relative
			padding-bottom 137px
			&:before 
				content: ''
				position: absolute;
				top: 0;
				left: 0
				width: 100%;
				height: 100%
				background-color: rgba(26,38,45,.75);
		@media $max_xs
			padding-top 275px
			padding-bottom 100px
	&__text-wrap
		width 50%
		margin-left auto
		@media $max_sm
			margin-left 0
			width 100%	
			color $beige	
			.b-title-1	
				color $beige
		p
			color white
			margin-bottom 30px
			@media $max_sm
				margin-bottom 23px
			&:last-child
				margin-bottom 70px
				@media $max_sm
					margin-bottom 57px
				@media $max_xs
					margin-bottom 34px
		.b-title-1
			color white
			margin-bottom 60px
			@media $max_sm
				margin-bottom 54px
			@media $max_xs
				line-height .7
				margin-bottom 31px
	&__text
		max-width 542px
		@media $max_sm
			max-width 100%
	.l-container
		+
			.b-our-production
				&__wrap
					margin-top -80px
					@media $max_sm
						margin-top -60px
						padding-top 161px
					@media $max_sm
						padding-top 189px
						margin-top -39px
.p-about_news 
	.b-news-wrapper
		padding-top 60px
		@media $max_sm
			padding-top 0
	@media $max_sm
		.b-button-wrapper_top
			padding-top 0
		.b-title-inner
			overflow hidden
			max-height 305px
			margin-top 0
			padding-top 31px
		.b-substrate__image
			height 517px
		.b-section
			padding 34px 28px 16px
			&__title
				padding-bottom 28px
				margin-bottom 31px
		.b-inner 
			padding-top 8px
		.b-title-2
			margin-bottom 28px
		.b-title-3
			margin 27px 0
		.b-title-4
			margin-bottom 27px
		.b-other-news 
			margin-top 62px
			padding-top 54px
		.b-title-2_other 
			margin-bottom 28px
		.b-section_narrow
			margin-bottom -60px
.js-menu //добавить для b-top-r, b-top-l, .b-nav, для .b-header - ._active-menu, b-header-link - ._close
	@media $max_sm
		.b-mobile-wrapper
			display block
			position fixed 
			top 0
			left 0
			bottom 0
			width 100%
			overflow auto
			background $black url(../img/cow-2.png) no-repeat
			background-position center bottom
			background-size 40%
			z-index 2
			text-align center
			padding 140px 30px 0	
		.b-contact
			display block
			.b-button
				margin-top 36px
		.b-contact_inline
			display block
			padding 0
			&:last-child
				padding 0
		.b-mobile-wrapper__menu		
			position relative
			&:before
				position absolute
				top -28px
				left 0
				width 100%
				content ''
				border-bottom 1px solid $beige
				z-index 999
		.b-contact__title
			display block
			font-size 15px
			color $light_beige
			margin-bottom 17px
			margin-top 37px
		.b-contact__value
			font-size 24px
			font-weight bold
			display block
			font-family 'Oswald-Medium'
		.b-nav__item
			display block
			max-width 100%
			border-bottom 1px solid $beige
			padding 40px 0
			&:first-child
				margin-top -20px
			&:hover
				background-color inherit
				color $light_beige
	@media $max_xs
		.b-mobile-wrapper	
			padding-top 115px
.b-nav .b-mobile-wrapper__menu
	&:before
		top 14px !important
.b-header__top-l .b-mobile-wrapper__menu
	&:before
		top -43px !important
.owl-carousel 
	.owl-item 
		height 143px
		img
			width 45px
			margin 0 auto
			margin-bottom 17px
	.owl-dots
		text-align center
		.active
			background $white
	button.owl-dot
		display inline-block
		width 8px
		height 8px
		border-radius 8px
		background #656969
		margin-right 20px
		&:last-child
			margin-right 0