.l-common-wrap
	padding-bottom 0px

.l-container
	max-width 1400px
	width 100%
	margin 0 auto
	position relative
	padding 0 10px
	@media $min_md
		padding 0 25px
.l-header
	padding-bottom 30px
	background-position center
	background-repeat no-repeat
	background-size cover
	position relative
	&:before
		content ''
		position absolute
		stick()
		background-color rgba(26, 38, 45, 0.75)
.l-header,footer
	background-color $black
	color $beige

.b-header
	display table
	table-layout fixed
	width 100%
	padding-top 20px
	padding-bottom 20px
	&__top-l,
	&__top-r,
	&__top-c
		display table-cell
		vertical-align middle
	&__top-r
		text-align: right
	&__top-c
		width 89px
		@media $max_sm
			width 63px
			img 
				width 100%
	.b-contact
		&_inline:last-child
			padding-left 28px
	&_center
		width 800px
		height 442px
		margin 80px auto 39px
		text-align center
		background url(../img/cow-2.png) no-repeat
		padding-top 79px
		.b-title-1
			margin-bottom 20px
	&__text
		padding 0 130px
		font-size 17px
		line-height 1.53
		margin-bottom 33px
		p
			color #fcf0e2
	&_bottom
		background $black
		margin-bottom 30px
		@media $max_sm
			display block
			width auto
			margin 100px 30px -208px
			padding 10px 40px
.b-contact
	&__title
		display block
		font-size 14px
		color $light_beige
		margin-bottom 4px
	&__value
		text-transform uppercase
		font-size 17px
		font-weight bold
		display inline-block
		&_email
			color $green
		&:nth-child(2)
			margin-right 3px
	&_column
		margin-bottom 20px
	&_inline
		display inline-block
	&__title_roster
		color rgba(49, 63, 72, 0.6)
		margin-bottom 2px
	&__text
		font-weight bold
		line-height 1.1
		padding-top 5px
		font-size 17px
	&_roster
		margin-top 23px
.b-mobile-wrapper .b-contact
	@media $max_sm
		display none
.b-nav
	position relative
	text-align center
	border-bottom 1px solid $beige
	// display flex
	// justify-content center
	&:after
		position absolute
		top 0
		left 0
		content ''
		width 44.6%
		border-top 1px solid $beige
	&:before
		position absolute
		top 0
		right 0
		content ''
		width 44.6%
		border-top 1px solid $beige
	&__item
		display inline-block
		text-transform uppercase
		// padding 21px 79px
		padding 21px 20px
		max-width 215px
		flex-grow 1
		margin 0
		font-family 'Oswald-Medium'
		font-size 15px
		font-weight 500
		white-space nowrap
		&_active
			background $beige
			color $black
		&:hover
			background $beige
			color $black
			text-decoration none
	.b-mobile-wrapper
		display flex
		justify-content center
	@media $max_sm
		display none
.b-cell
	display inline-block
	width 33%
	border-left 1px solid #40484b
	padding 20px 0 15px 40px
	&:first-child
		border none
	&__image,
	&__text
		display inline-block
	&__text
		position absolute
		font-size 17px
		font-weight bold
		color $beige
		margin-left 13px
		@media $max_sm
			min-width 210px
			position relative
			text-align left
	@media $max_sm
		text-align center
		width 100%
		border-left none
		border-bottom 1px solid #40484b		
		&:first-child 
			border-bottom 1px solid #40484b		
		&:last-child
			border none
.p-main
	.section-news
		margin-top 85px
		margin-bottom 80px
		.b-heading
			align-items flex-end
			&:before
				right 50%
				transform translateX(50%)
			.b-button
				margin-bottom 8px
.b-header-link
	width 25px
	height 25px
	display none
	@media $max_sm
		display inline-block
	margin-left 30px
	&:last-child
		margin-right 30px
	&_navicon
		position relative
		border-bottom 2px double $beige 
		border-top 2px solid $beige
		height 25px
		width 28px
		&:after
			position absolute
			content ""
			width 100%
			border-top 2px solid $beige
			top 10px
	&_close
		background url(../img/close.png) no-repeat
		border none 
		&:after
			border none 
		img 
			display none
.b-active //добавить для b-top-r, b-top-l, .b-nav
	@media $max_sm
		display block !important
		.b-mobile-wrapper
			display block
			position fixed 
			top 120px
			left 0
			bottom 0
			width 100%
			border-top 1px solid $beige
			background $black url(../img/cow-2.png) no-repeat
			background-position center bottom
			background-size 40%
			z-index 15
			text-align center
			padding 20px 30px 0
		.b-contact
			display block
			.b-button
				margin-top 36px
		.b-contact_inline
			display block
			padding 0
			&:last-child
				padding 0
		.b-contact__title
			display block
			font-size 15px
			color $light_beige
			margin-bottom 17px
			margin-top 37px
		.b-contact__value
			font-size 24px
			font-weight bold
			display block
			font-family 'Oswald-Medium'
		.b-nav__item
			display block
			max-width 100%
			border-bottom 1px solid $beige
			padding 40px 0
			&:first-child
				margin-top -20px
			&:hover
				background-color inherit
				color $light_beige