.l-common-wrap
	padding-bottom 0px

.l-container
	max-width 1400px
	width 100%
	margin 0 auto
	position relative
	padding 0 10px
	@media $max_sm
		padding 0 30px
	@media $max_xs
		padding 0 15px
.l-header
	padding-bottom 30px
	background-position center
	background-repeat no-repeat
	background-size cover
	position relative
	&:before
		content ''
		position absolute
		stick()
		background-color rgba(26, 38, 45, 0.75)
	@media $max_sm
		padding-bottom 0
		margin-bottom 40px
.l-header,footer
	background-color $black
	color $beige

.b-header
	display table
	table-layout fixed
	width 100%
	padding 20px 0
	&__top-l,
	&__top-r,
	&__top-c
		display table-cell
		vertical-align middle
		position relative
		z-index 16	
	&__top-r
		text-align right
		&.js-menu .b-mobile-wrapper
			top 120px
			padding-top 0
	&__top-c
		width 89px
		@media $max_sm
			width 63px
			img 
				width 100%
	&_active-menu
		position fixed
		background $black
		padding 20px 30px 
		z-index 99
		left 0
		top 0
		border-bottom 1px solid $beige
		@media $max_xs
			padding 20px 15px
	.b-contact
		&_inline:last-child
			padding-left 28px
	&_center
		width 800px
		height 442px
		margin 80px auto 39px
		text-align center
		background url(../img/cow-2.png) no-repeat
		padding-top 79px
		@media $max_sm
			width 100%
			padding-top 135px
			background-size 100%
			background-position center
		@media $max_xs
			margin-top 10px
		.b-title-1
			margin-bottom 20px
			@media $max_sm
				margin-bottom 36px
			@media $max_xs
				font-size 34px
	&__text
		padding 0 130px
		font-size 17px
		line-height 1.53
		margin-bottom 33px
		p
			color #fcf0e2
		@media $max_sm
			padding 0 50px
			font-size 15px
			margin-bottom 32px
	&_bottom
		background $black
		margin-bottom 30px
		@media $max_sm
			display block
			width auto
			margin 100px 0 -218px
			padding 10px 40px
		@media $max_xs
			margin-left 0
			margin-right 0
			margin-bottom -100px
.b-contact
	&__title
		display block
		font-size 14px
		color $light_beige
		margin-bottom 4px
	&__value
		text-transform uppercase
		font-size 17px
		font-weight bold
		display inline-block
		&_email
			color $green
		&:nth-child(2)
			margin-right 3px
	&_column
		margin-bottom 20px
	&_inline
		display inline-block
	&__title_roster
		color rgba(49, 63, 72, 0.6)
		margin-bottom 2px
	&__text
		font-weight bold
		line-height 1.1
		padding-top 5px
		font-size 17px
	&_roster
		margin-top 23px
.b-mobile-wrapper .b-contact
	@media $max_sm
		display none
.b-nav
	position relative
	text-align center
	border-bottom 1px solid $beige
	// display flex
	// justify-content center
	&:after
		position absolute
		top 0
		left 0
		content ''
		width 44.6%
		border-top 1px solid $beige
	&:before
		position absolute
		top 0
		right 0
		content ''
		width 44.6%
		border-top 1px solid $beige
	&__item
		display inline-block
		text-transform uppercase
		// padding 21px 79px
		padding 21px 20px
		max-width 215px
		flex-grow 1
		margin 0
		font-family 'Oswald-Medium'
		font-size 15px
		font-weight 500
		white-space nowrap
		&_active
			background $beige
			color $black
		&:hover
			background $beige
			color $black
			text-decoration none	
	.b-mobile-wrapper
		display flex
		justify-content center
	@media $max_sm
		display none
	&.js-menu
		display block
.b-cell
	display inline-block
	width 33%
	border-left 1px solid #40484b
	padding 20px 0 15px 40px
	@media $max_sm
		text-align center
		width 100%
		border-left none
		border-bottom 1px solid #40484b		
		padding 30px 0 22px 40px
		&:first-child 
			border-bottom 1px solid #40484b		
		&:last-child
			border none
	@media $max_xs
		padding-left 0
	&:first-child
		border none
	&__image,
	&__text
		display inline-block
	&__image
		@media $max_sm
			margin-right 15px
		@media $max_xs
			margin-bottom 8px
	&__text
		position absolute
		font-size 17px
		font-weight bold
		color $beige
		margin-left 13px
		@media $max_sm
			min-width 210px
			position relative
			text-align left
			top -9px
		@media $max_xs
			min-width 202px
			text-align center
			display block
.b-logo	
	position relative
.b-header-link
	width 25px
	height 25px
	display none
	@media $max_sm
		display inline-block
		z-index 99
	@media $max_xs
		margin-left 15px
		&:last-child
			margin-left 20px
			margin-right 15px
	&:nth-child(3)
		margin-left 28px
		margin-right 6px
	&_navicon
		position relative
		border-bottom 2px double $beige 
		border-top 2px solid $beige
		height 21px
		width 28px
		&:after
			position absolute
			content ""
			width 100%
			border-top 2px solid $beige
			top 7px
	&_close
		background url(../img/close.png) no-repeat
		border none 
		&:after
			border none 
		img 
			display none