footer.l-footer
	.l-container
		+b('').footer
			+e('').column_logo
				a(href="index.html")
					img(src="../img/logo.png", alt="logo")
			+e('').column_company-description
				+b('').footer-text
					+e('').item
						p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
					+e('').item
						p © ООО “ФорТорг”. Предприятие мясоперерабатывающей области. www.fortorg.by Все права защищены.
			+e('').column_nav
				+b('nav').footer-nav
					+e('').item
						+e('a')(href="#").title о производстве
					+e('').item
						+e('a')(href="#").title продукция
					+e('').item
						+e('a')(href="#").title сотрудничество
					+e('').item
						+e('a')(href="#").title_act новости
					+e('').item
						+e('a')(href="#").title контакты
			+e('').column_contacts
				+e('').contact-row
					+b('').contact._inline
						+e('span').title Телефон/факс
						+e('a').value(href="tel:+375172652094") +37517 265 20 94
				+e('').contact-row
					+b('').contact._inline
						+e('span').title Мобильный телефон
						+e('a').value(href="tel:+375296896232") +37529 689 62 32;
						+e('a').value(href="tel:+375447106081") +37544 710 60 81
				+e('').contact-row
					+b('').contact
						+e('span').title Электронная почта
						+e('a')(href="#").value_email info@fortorg.by
				+b('a').button._small(href='#') Обратная связь