.l-header(style="background-image: url(https://via.placeholder.com/1910x970)")
    .l-container
        +b('header').header
            +e('').top-l
                +b('').contact
                    +e('span').title Электронная почта
                    +e('a').value(href="#") info@fortorg.by
            +e('').top-c
                +b('').logo
                    a(href="index.html")
                        img(src="../img/logo.png", alt="logo")
            +e('').top-r
                +b('').contact._inline
                    +e('span').title Телефон/факс
                    +e('a').value(href="tel:+375172652094") +37517 265 20 94
                +b('').contact._inline
                    +e('span').title Мобильный телефон
                    +e('a').value(href="tel:+375296896232") +37529 689 62 32;
                    +e('a').value(href="tel:+375447106081") +37544 710 60 81
        +b('nav').nav
            +e('a').item(href="#") о производстве
            +e('a').item(href="#") продукция
            +e('a').item(href="#") сотрудничество
            +e('a').item._active(href="#") новости
            +e('a').item(href="#") контакты 
        +b('').header._center
            +e('').title 
                span.b-title-1 Экологически чистое мясо
            +e('').text Работаем с исключительно качественным сырьем приобретаемом на аттестованных мясокомбинатах и фермерских хозяйствах РБ
            +b('a').button._big(href='#') Подробнее о производстве
        +b('').header._bottom
            +b('').cell
                +e('img').image(src="../img/certificate.png")
                +e('').text Предприятие аттестовано
                    span.clear на Российскую Федерацию                   
            +b('').cell
                +e('img').image(src="../img/ham.png")
                +e('p').text Полная переработка 
                    span.clear продукции                 
            +b('').cell
                +e('img').image(src="../img/car.png")
                +e('p').text Доставка осуществляется
                    span.clear собственным транспортом                  
