.l-header(style="background-image: url(../img/pic-header-inner.jpg)")
    .l-container
        +b('header').header
            +e('').top-l
                +b('').mobile-wrapper
                    +e('').menu
                        +b('').contact
                            +e('span').title Электронная почта
                            +e('a').value(href="#") info@fortorg.by
                            +b('a').button._small(href='#').-visible-sm Обратная связь
                    +b('a')(href="#").header-link._navicon
            +e('').top-c
                +b('').logo
                    a(href="index.html")
                        img(src="../img/logo.png", alt="logo")
            +e('').top-r
                +b('').mobile-wrapper
                    +e('').menu
                        +b('').contact._inline
                            +e('span').title Телефон/факс
                            +e('a').value(href="tel:+375172652094") +37517 265 20 94
                        +b('').contact._inline
                            +e('span').title Мобильный телефон
                            +e('a').value(href="tel:+375296896232") +37529 689 62 32;
                            +e('a').value(href="tel:+375447106081") +37544 710 60 81
                +b('a')(href="#").header-link
                    +e('img')(src="../img/phone.png", alt="header-phone")
                +b('a')(href="#").header-link
                    +e('img')(src="../img/mail.png", alt="header-email")
        +b('nav').nav
            +b('').mobile-wrapper
                    +e('').menu
                        +b('a').nav__item(href="#") о производстве
                        +b('a').nav__item(href="#") продукция
                        +b('a').nav__item(href="#") сотрудничество
                        +b('a').nav__item._active(href="#") новости
                        +b('a').nav__item(href="#") контакты
